.dialogs {
  color: blueviolet;
  font: weight 5px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "interlocutors message";
}

.interlocutors {
  grid-area: interlocutors;
  padding: 10px;
  border-right: 2px blueviolet solid;
}

.message {
  grid-area: message;
  padding: 10px;
}

.buttonAddMessage {
  background: blueviolet;
  width: 120px;
  height: 30px;
  color: azure;
  border-color: blueviolet;
  border-radius: 10px;
}

.textareaMessage {
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 900px;
}
