.dialogs {
  color: blueviolet;
  font: weight 5px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "interlocutors message";
}

.interlocutors {
  grid-area: interlocutors;
  padding: 10px;
}

.message {
  grid-area: message;
  padding: 10px;
}
