section{
    white-space: pre-wrap
}
h3{
    display: flex;
    justify-content: center;
}

.buttonSubmit{
    margin-top: 10px;
    background: blueviolet;
    color: azure;
    border-color: blueviolet;
    border-radius: 10px;
    height: 35px;
    width: 80px;
}

.buttonCancel{
    margin-top: 10px;
    background: rgb(226, 43, 43);
    color: azure;
    border-color: rgb(226, 43, 43);
    border-radius: 10px;
    height: 35px;
    width: 80px;
}