.app-wrapper {
  margin: 5px 5em;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "navMenu content";
}

 .content {  /*содержимое страницы */
  margin-top: 10px;
  grid-area: content;
  margin-left: 10px;
  background-color: #f7f4cb;
}
